# Java
*.class

# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse / Spring Tool Suite
.classpath
.project
.settings/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
application-local.properties
application-local.yml
*.zip